.services-cards-image{
    display: flex;
    justify-content: center;
    padding-top: 31px;
}
.services-cards-image1{
    width: 50%;
}
.service-card-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
}
.service-card-desc{
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 70;
}
.service-card{
box-shadow: 10px 10px 40px 20px #0000001A;
width: 349px;
margin-right: 31px;
background-color: #fff;
margin-top:-80px; 
padding: 0px 10px;
margin-bottom: 100px;
}
.service-card-holder{
    display: flex;
    justify-content: center;
}
.servise-header-title{
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    left: 0;
    margin-top: 280px;
}
.images-1 {
    position: absolute;
    z-index: 0;
    top: 46px;
    left: -698px;
    height: 267px;
}
.images-2 {
    position: absolute;
    z-index: 0;
    top: 304px;
    left: -702px;
    height: 267px;
}
.images-5 {
    position: absolute;
    z-index: 0;
    top: 46px;
    left: -350px;
    height: 267px;
}

.images-3 {
    position: absolute;
    z-index: 0;
    top: 304px;
    left: -250px;
    height: 267px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.4) ;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
}